
#carousel-container {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    position:relative;
    height:420px;
    width:var(--carousel-width);
    overflow:hidden;
    border-radius:20px;
    background:rgb(240, 234, 234);
    box-shadow: 1px 1px 10px 0px rgba(46, 44, 44, 0.342);
    font-family: 'Muli', sans-serif;
    margin:0 auto;
}
#carousel-container #carousel-pages-indicator {
    display: flex;
    position: absolute;
    bottom:160px;
    margin:0 auto;
    left:0;
    right:0;
    z-index: 10;
}
#carousel-container .carousel-arrow-selection {
    display:flex;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    bottom:160px;
    z-index: 5;
    border:solid 1px rgba(0, 0, 255, 0.295);
    transition: 0.2s ease-in-out;
    width:25px;
    height:25px;
    justify-content: center;
    align-items: center;
    border-radius:50px;
}

#carousel-container .carousel-arrow-selection:hover {
    color:blue;
    border:solid 1px blue;
}

#carousel-container .carousel-arrow-selection.left {
    left:15px;
}

#carousel-container .carousel-arrow-selection.right {
    right:15px;
}

#carousel-container #carousel-content {
    display: grid;
    width: 100%;
    grid-template-columns:repeat(var(--carousel-lenght), var(--carousel-width));
    grid-column-gap:5px;
    grid-auto-rows: max-content;
    transform: translateX(0px);
    transition: 0.3s ease-in-out;
}

#carousel-content .carousel-content-item {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:270px 120px 30px;
    transition: 0.3s ease-in-out;
}

#carousel-content .carousel-item-image {
    display:block;
    height:auto;
    max-width:var(--carousel-width);
}

#carousel-content .carousel-item-text-content {
    border-top:1px solid rgba(0, 0, 0, 0.127);
    border-bottom:1px solid rgba(0, 0, 0, 0.127);
    display: grid;
    grid-auto-rows:max-content;
    font-size:12px;
    justify-content: center;
    grid-template-columns: 0.9fr;
    padding: 5px 0;
    margin: 5px 0;
}

#carousel-content .carousel-item-text-content .carousel-item-title {
    font-size: 14px;
    font-weight: bold;
}

#carousel-container #buy-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
}

#carousel-container #buy-buttons a {
    text-decoration: none;
    font-size: 12px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    color:blue;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
}

#carousel-container #buy-buttons a:hover {
    color:orangered;
}